@import 'variables';

.ant-modal {
  .ant-modal-content {
    border-radius: $border-radius;

    .ant-modal-close {
      color: $white;
    }

    .ant-modal-header {
      border-radius: $border-radius $border-radius 0 0;
      background: $primary-color;

      .ant-modal-title {
        color: $white;
        font-size: 13px;
        font-weight: 400;
      }
    }

    .ant-modal-body {
      padding: 15px;
      max-height: 650px;
      overflow-y: auto;

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 8px rgba($primary-color, 0.7);
        background-color: rgba($primary-color, 0.7);
      }

      &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
      }
    }
  }
}

.ant-btn {
  height: 30px;
  border-radius: $border-radius;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  outline: none;
  box-shadow: none;

  &span {
    color: $white;
  }
}

.ant-radio-wrapper {
  font-size: 14px;
}

.custom-select.ant-select {
  .ant-select-selector {
    border-radius: $border-radius;
  }

  &:hover {
    border-color: $border-color;
  }

  .ant-select-arrow {
    svg {
      fill: $button-search;
    }
  }
}

.custom-date.ant-picker {
  margin-right: 5px;
  border-radius: $border-radius;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: $border-color;
  }
}
