$white: #ffffff;
$black: #000000;
$font-size-base: 14px;

$primary-color: #354c87;
$second-color: #1eb6cd;

$text-color: #333333;
$popup-size-md: 768px;
$popup-size-lg: 1000px;
$popup-size-laptop: 1140px;
$popup-size-sm: 600px;
$popup-size-sl: 350px;
$header-table-background: #d7d7d7;
$body-background: #e5e5e5;
$button-delete: #d34b4b;
$button-edit: #f2af17;
$button-close: #d7d7d7;
$border-radius: 6px;
$border-color: #cecece;
$border-color-thead: #0b2a60;
$disabled-input-color: #f1f1f1;
$button-search: #02a7f0;
$button-filter-date: #1e5dc9;

$third-color: #2c62bf;
$fourth-color: #3d5173;
$fifth-color: #2759af;
$color-input-search: #fcfaf1;
