.change-password {
  .cms-form-control {
    border-radius: 6px;
    width: 80%;
  }
  .cms-label-pass {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  }
  .ant-row {
    .ant-form-item {
      margin: 0;
    }
  }
}
