

.custom-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.custom-table th {
  background-color: #2e4682;
  color: white;
}

.custom-table input[type="text"],
.custom-table input[type="date"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.custom-table input[type="checkbox"] {
  transform: scale(1.2);
}

.actions button {
  background-color: #2e4682;
  color: white;
  border: none;
  padding: 6px 10px;
  margin: 0 2px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
