@import '../../styles/variables';

.dashboard-page {
  margin-top: 16px;

  .table {
    width: 100%;

    thead {
      tr {
        th {
          padding: 7.7px 12.5px;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 8.704px 12.5px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #041722;
        }

        &:nth-child(2n + 1) {
          background: #f6f6f6;
          border-radius: 4px;
        }
      }
    }
  }

  .filter-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span.title {
      text-transform: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      margin-right: 7.68px;

      &.last {
        margin-left: 12.64px;
      }
    }
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .block {
      width: calc(50% - 15px);
      margin-top: 16px;
      background: #f6f6f6;
      border-radius: 8px;
      padding: 20.12px 16px;

      .block-content {
        h3 {
          margin-bottom: 30px;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 18px;
          color: #041722;
          text-align: center;
        }

        .detail {
          .item {
            margin-bottom: 15px;
          }

          span {
            display: inline-block;
            min-width: 100px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #222222;

            &.bold {
              margin-left: 3.93px;
              font-weight: 700;
              margin-right: 29.74px;
            }
          }

          .process {
            display: inline-block;
            width: calc(100% - 110px);
            background: #ef8019;
            border-radius: 8px;
            margin-left: 10px;

            > div {
              background: #1f3fb0;
              text-align: center;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: #ffffff;

              &.auto {
                background: #5fc3d2;
              }
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }

  .top-content {
    text-align: center;

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 16px;
      color: #333333;
      margin-bottom: 10.76px;
    }

    .content {
      display: flex;
      justify-content: center;

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #222222;

        &.bold {
          font-size: 15px;
          font-weight: 700;
          margin-left: 5px;
        }
      }
    }
  }

  .statistic {
    margin-top: 30px;

    canvas {
      height: 250px !important;
    }
  }

  .block-statics {
    padding: 15.81px 16.82px 15.81px 30px;
    background: #f6f6f6;
    border-radius: 8px;
    margin-bottom: 8px;

    .heading {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 12px;
      color: #041722;
      margin-bottom: 23.28px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        background: #3a47dc;
      }

      &.auto {
        &:before {
          background: #63d6e1;
        }
      }

      &.pending {
        &:before {
          background: #20b640;
        }
      }
    }

    .content {
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #041722;
        margin-bottom: 2.5px;

        &.bold {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 12px;
          color: #041722;
          margin-bottom: 20px;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card-header.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8.14px 14.63px;
  }

  .calendar-content {
    height: 60vh;
    max-height: 500px;
  }

  /**
  Notification
   */
  .card-content {
    .cms-form-dashboard {
      .cms-form-label {
        margin-bottom: 0px;
      }
    }

    padding: 16px;

    &.app-notification {
      max-height: 320px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        margin-top: 12px;
        margin-bottom: 2px;
        width: 8px;
        background-color: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
        border-radius: $border-radius;
      }

      &::-webkit-scrollbar-track {
        background-color: #ffffff;
        margin: 2px 0;
      }

      .filters {
        margin-bottom: 11px;

        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 4px 12px;
            display: inline-block;
            list-style: none;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            align-items: center;
            color: #1e5dc9;
            border: 1px solid #1e5dc9;
            border-radius: 4px;
            margin-right: 12px;

            &:hover {
              cursor: pointer;
            }

            &:last-child {
              margin-right: 0;
            }

            &.active,
            &:hover {
              background: #1e5dc9;
              color: white;
            }
          }
        }
      }
    }

    .dashboard-list-notification {
      margin: 0;
      padding: 0 0 0 5px;

      li {
        list-style: none;
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        .tag {
          display: inline-block;
          position: relative;
          width: 12px;
          height: 12px;
          min-width: 12px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
          margin-right: 15px;
          margin-top: 4px;

          &:after {
            display: inline-block;
            border: 6px solid;
            height: 0;
            width: 0;
            position: absolute;
            right: -100%;
            top: 0;
            content: '';
          }

          &.high {
            background: #db342e;

            &:after {
              border-color: transparent transparent transparent #db342e;
            }
          }

          &.middle {
            background: #f5832f;

            &:after {
              border-color: transparent transparent transparent #f5832f;
            }
          }

          &.low {
            background: #1e5dc9;

            &:after {
              border-color: transparent transparent transparent #1e5dc9;
            }
          }
        }

        .content {
          p {
            text-align: left;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #041722;
            margin-bottom: 8px;

            &:hover {
              color: #0c77b9;
              cursor: pointer;
            }

            &.prioritized {
              font-weight: 600;
            }
          }

          .date {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #737373;

            .label {
              padding: 5px;
              border-radius: 4px;
              font-style: normal;
              font-weight: 600;
              font-size: 10px;
              line-height: 14px;
              text-transform: uppercase;
              background: #ffeab4;
              color: #d17b15;
              margin-left: 6px;

              &.customer {
                background: #d2efff;
                color: #1e5dc9;
              }
            }
          }
        }
      }
    }
  }

  .overdue-account-receivables {
    .card-content {
      padding: 0;

      .content-heading {
        background: rgba(218, 237, 255, 0.5);

        span {
          margin-left: 18px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          color: #222222;
        }

        .total {
          margin-left: 0;
          display: inline-block;
          padding: 14px 23px;
          background: #d6e7f7;
          color: #041722;
          font-weight: 700;
        }

        .valueData {
          font-weight: 700;
          margin-left: 5px;
          color: #041722;
        }
      }

      .content-detail {
        padding: 16px;

        .table {
          border: 0;

          thead {
            tr {
              th {
                padding: 12px;
                background: #ffffff;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                color: #363e49;
                border: 0;
              }
            }
          }

          tbody {
            tr {
              td {
                padding: 11px 12px;
                border: 0;
              }
            }
          }
        }
      }
    }
  }
}

.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;

  .back-next-buttons {
    .label-date {
      margin: 0 6px;

      span {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        text-transform: capitalize;
      }
    }

    button {
      height: 32px;
      width: 32px;
      background: #ffffff;
      border: 1px solid #daedff;
      border-radius: 6px;

      &:last-child {
        margin-left: 2px;
      }

      &:hover {
        cursor: pointer;
        background: #daedff;
      }
    }
  }

  .Label {
    display: flex;
    align-items: center;

    .circle {
      position: relative;
      padding-left: 20px;
      margin-left: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: #626262;

      &:before {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
        background: #3a47dc;
      }

      &.auto-collection {
        &:before {
          background: #63d6e1;
        }
      }

      &.cash-collection {
        &:before {
          background: #20b640;
        }
      }
    }
  }
}

.rbc-month-view {
  border: 0 !important;

  .rbc-row.rbc-month-header {
    .rbc-header {
      padding: 7px;
      text-align: right;
      background: #dce8ff;

      span {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: #1b4486;
      }
    }
  }

  .rbc-month-row {
    background: #f7f7f7;
    border-radius: 4px;
    overflow: visible;

    .rbc-row-content {
      .rbc-row {
        .rbc-date-cell {
          button.rbc-button-link {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #041722;
          }
        }

        .rbc-row-segment {
          .rbc-event {
            position: relative;
            background: #cbe6f1;
            margin-bottom: 0;
            padding: 3px 6px;
            margin-right: 5px;
            border-radius: 0;

            &:focus {
              outline: none;
            }

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 2px;
              background: #3a47dc;
            }

            .rbc-event-content {
              position: relative;
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 12px;
              text-align: right;
              color: #3a47dc;
              overflow: visible;
            }
          }
        }

        &:nth-child(3) {
          .rbc-row-segment {
            .rbc-event {
              background: #d5e8e3;

              &:before {
                background: #1dabb9;
              }

              .rbc-event-content {
                color: #1dabb9;
              }
            }
          }
        }

        &:nth-child(4) {
          .rbc-row-segment {
            .rbc-event {
              background: #d4e8e3;
              outline: none;

              &:focus {
                outline: none;
              }

              &:before {
                background: #20b640;
              }

              .rbc-event-content {
                color: #20b640;
              }
            }
          }
        }
      }
    }
  }
}

.tooltip-custom {
  position: absolute;
  z-index: 999;
  background: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  top: -42px;
  left: 0;
  width: 100%;
  outline: none;
  border: 0;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 24px;
    width: 14px;
    height: 14px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: none none solid solid;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }

  span {
    outline: none;
    border: 0;
    box-shadow: none;
  }
}

.g2-html-annotation {
  display: none !important;
}

.statics-detail {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .block-statics {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);

    //&:nth-child(2) {
    //  margin-left: 0;
    //  margin-right: 0;
    //}

    .content {
      display: block;
      text-align: left;
      width: 100%;

      span {
        display: block;
      }
    }
  }
}

.card-content {
  .information {
    overflow-x: auto;

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      --webkit-box-shadow: inset 0 0 6px rgba($primary-color, 0.4);
      background-color: rgba($primary-color, 0.4);
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }
  }
}

.cms-form-dashboard {
  .button-add {
    span {
      @media screen and (min-width: 1024px) {
        font-size: 12px;
      }

      @media screen and (min-width: 1280px) {
        font-size: 12px;
      }

      @media screen and (min-width: 1366px) {
        font-size: 12px;
      }
    }
  }
}

.notification-modal {
  .ant-modal-body {
    padding-left: 24px !important;
    max-height: 650px;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 8px rgba($primary-color, 0.7);
      background-color: rgba($primary-color, 0.7);
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    ol,
    ul,
    dl {
      margin-left: 15px;
    }

    img {
      width: 100%;
    }
  }
}
