.ReportYear {
  .card {
    padding: 15px 16px 30px;

    .heading-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      padding-bottom: 15px;

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #041722;
        text-transform: uppercase;
      }

      .node-item {
        display: flex;
        align-items: center;

        .item {
          position: relative;
          padding-left: 30px;
          margin-right: 30px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #041722;

          &:last-child {
            margin-right: 0;
          }

          &:before {
            border-radius: 2px;
            width: 24px;
            height: 24px;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: #3a47dc;
          }

          &.auto-collection {
            &:before {
              background: #63d6e1;
            }
          }

          &.report-cash-collection {
            &:before {
              background: #20b640;
            }
          }
        }
      }
    }

    .report-column {
      margin-bottom: 30px;

      .top-report {
        display: flex;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 25px;

        .name {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          color: #1e5dc9;
          margin-right: 15px;
        }

        .value-group {
          padding: 5px 15px;
          background: #daedff;
          border-radius: 6px;

          .totalCount {
            margin-right: 15px;

            strong {
              margin-left: 5px;
            }
          }

          .totalAmt {
            strong {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .report-pie {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      .item-circle {
        background: #f7f7f7;
        border-radius: 4px;
        width: 30%;
        padding-bottom: 19px;
        margin-left: 2%;

        .circle-title {
          padding: 19px 0;
          text-align: center;
          color: #354c87;
          font-size: 17px;
          text-transform: uppercase;
          font-weight: bold;
        }

        .circle-content {
          text-align: center;
          color: #354c87;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .note-circle {
        .item {
          padding-left: 30px;
          position: relative;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #041722;
          margin-bottom: 20px;

          &:before {
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: #3a47dc;
            border-radius: 2px;
          }

          &.auto-collection {
            &:before {
              background-color: #63d6e1;
            }
          }

          &.dashboard-cash-collection {
            &:before {
              background-color: #20b640;
            }
          }
        }
      }
    }
  }

  .content {
    .search {
      position: static;
      margin-bottom: 16px;
    }
  }

  .page-heading-template {
    padding: 20px 0;

    .heading-template {
      color: #354c87;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      margin: 0;

      .sub-heading-template {
        margin-left: 5px;
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        text-transform: none;
      }
    }
  }
}