@import '../../styles/variables';

.ant-layout {
  position: relative;
  background: none;

  &.info-app-layout {
    min-height: 100vh;
  }
}

.ant-layout-sider {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  color: #041722;
  flex: 0 0 auto !important;
  max-width: none !important;
  min-width: 10px !important;

  &:not(.ant-layout-sider-collapsed) {
    width: 263px !important;
    height: calc(100vh - 48px);

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba($primary-color, 0.4);
      background-color: rgba($primary-color, 0.4);
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }
  }
}

.ant-layout-content {
  padding-left: 16px;
}

.info-app-layout {
  .info-top-page {
    background: #f6f6f6;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .breadcrumbs {
      margin: 0;
    }

    .info-login {
      display: flex;
      align-items: center;

      .user {
        margin-right: 11px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #041722;

        .ant-avatar {
          width: 24px;
          height: 24px;
        }
      }

      button {
        height: 24px;
        padding: 0 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        background: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 4px;
        margin-right: 5px;

        &:hover {
          cursor: pointer;
          background: #ffffff;
          color: $primary-color;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .container-wrapper {
    margin-top: 16px;
    margin-right: 16px;
  }
}
